@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.logo {
    width: 40%;
    height: 100%;
    background: linear-gradient(-45deg, #4F94CD, #3A5FCD, #00008B);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'amatic sc', sans-serif;
    font-size: 2em;
    align-items: center;
    color: #ffffff;
    animation: backgroundTransition 8s ease-in-out infinite;
}

.fa-star {
    font-size: 20px;
}

.estrelas-animadas .fa-star:nth-child(1) {
    margin-right: 10px;
    animation: pulse 1.5s ease-in-out infinite;
}

.estrelas-animadas .fa-star:nth-child(2) {
    margin-right: 10px;
    animation: pulse 1.5s ease-in-out infinite;
    animation-delay: 0.4s;
}

.estrelas-animadas .fa-star:nth-child(3) {
    animation: pulse 1.5s ease-in-out infinite;
    animation-delay: 0.8s;
}

@keyframes backgroundTransition {
    0% {
        background-position:  0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 80%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.login {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    margin-left: 20%;
    font-family: 'amatic sc', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.form label {
    font-size: 1.2em;
}

.form a {
    text-decoration: none;
    display: block;
    color: #696969;
}

.form a:first-of-type {
    margin-top: 10px;
}
 
.form a:hover {
    color: #000000;
}

.form input[type='email'] {
    margin-bottom: 10px;
}

.form input[type='email'], input[type='password'] {
    width: 70%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    border: 3px solid #BEBEBE;
}

.form input[type='submit'] {
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    color: #ffffff;
    background: linear-gradient(-45deg, #3A5FCD, #436EEE, #4876FF);
}